@page "/"

<PageTitle>Boas-Vindas</PageTitle>

<h3>Olá! </h3>
    <h3>Bem vindo ao seu Sistema de Cadastro de Medicamentos!</h3>
    <br />

Clique na aba "Medicamentos" para visualizar os medicamentos cadastrados.
